.placeholder {
    margin: 5px;
    padding: 10px;
    background-color: var(--weui-BG-1);
    color: var(--weui-FG-1);
}

.left-sidebar {
    background-color: #91d300;
    height: 1000px;
}

.accept{
    background-color: #06ae56;
}

.deny{
    background-color: #fa9d3b;
}