<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>Athena Service</title>


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../static/mdb/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="../static/mdb/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="../static/css/athena.css">
  <!-- MDBootstrap Datatables  -->
  <link href="../static/mdb/addons/datatables2.min.css" rel="stylesheet">
  <!-- DataTables Select CSS -->
  <link href="../static/mdb/addons/datatables-select2.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script type="text/javascript" src="../static/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../static/mdb/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../static/mdb/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../static/mdb/mdb.min.js"></script>

  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="../static/mdb/addons/datatables2.min.js"></script>
  <!-- DataTables Select JS -->
  <script src="../static/mdb/addons/datatables-select2.min.js" type="text/javascript"></script>


</head>

<body class="fixed-sn light-blue-skin">
  <header>

    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav side-nav-light fixed">
      <ul class="custom-scrollbar">
        <!-- Athena Logo -->
        <li>
          <div class="text-center logo-wrapper waves-light">
            <a href="#" class="pl-0"><img src="../static/img/THU.png" class="img-fluid flex-center" style="height: 95px"></a>
          </div>
        </li>

        <!--/. Athena Logo -->
        <!--Social-->
        <li>
          <ul class="social">
            <li><a href="#" class="icons-sm fb-ic"><i class="fab fa-facebook-f"> </i></a></li>
            <li><a href="#" class="icons-sm pin-ic"><i class="fab fa-pinterest"> </i></a></li>
            <li><a href="#" class="icons-sm gplus-ic"><i class="fab fa-google-plus-g"> </i></a></li>
            <li><a href="#" class="icons-sm tw-ic"><i class="fab fa-twitter"> </i></a></li>
          </ul>
        </li>
        <!--/Social-->
        <!--Search Form-->
        <li>
          <form class="search-form" role="search">
            <div class="form-group md-form mt-0 pt-1 waves-light">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </li>
        <!--/.Search Form-->

        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fab fa-servicestack"></i>Service<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                  <li><a href="athena-service" class="waves-effect">Issue service</a>
                  </li>
                  <li><a href="athena-order" class="waves-effect">My orders</a>
                  </li>
                </ul>
              </div>
            </li>
            <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-eye"></i> My account<i class="fas fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="list-unstyled">
                  <li><a href="athena-statistics" class="waves-effect">Profile</a>
                  </li>
                  <li><a href="athena-balance" class="waves-effect">Balance</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <!--/. Side navigation links -->
        </li>
        <!--/ Side navigation links -->

      </ul>
      <div class="sidenav-bg purple lighten-3"></div>
    </div>
    <!--/. Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">

      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
      </div>

      <!-- Breadcrumb -->
      <div class="breadcrumb-dn mr-auto">
        <p>Service Panel</p>
      </div>

      <div class="d-flex change-mode">

        <!-- Navbar links -->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">

          <!-- Dropdown -->
          <li class="nav-item dropdown notifications-nav">
            <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="badge green">3</span> <i class="fas fa-bell"></i>
              <span class="d-none d-md-inline-block">Notifications</span>
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">
                <i class="fab fa-servicestack" aria-hidden="true"></i>
                <span>Recent service completed</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 5 min</span>
              </a>
              <a class="dropdown-item" href="#">
                <i class="fab fa-servicestack" aria-hidden="true"></i>
                <span>New service issued</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 2 min</span>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect"><i class="far fa-comments"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">Log Out</a>
              <a class="dropdown-item" href="#">My account</a>
            </div>
          </li>

        </ul>
        <!-- Navbar links -->

      </div>

    </nav>
    <!-- Navbar -->

  </header>

  <main>

    <div class="contianer-fluid">

      <div class="mt-lg-5 mb-5">

        <h4 class="text-left font-weight-bold dark-grey-text">Please customize your service product</h4>
        <hr>

      </div>

      <!-- Section: Data -->
      <section class="mt-md-4 pt-md-2 ml-md-5 pl-4 mb-2 pb-1">

        <div class="card border-secondary mb-3">

          <div class="card-header">1.Please select your data</div>

          <!-- Section: Filter -->
          <section>
            <div class="card-body">
              <h5 class="card-title">Filters</h5>
              <div class="row">
                <div class="col">
                  <select id="hospital-option" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose hospital</option>
                    <option value=0>BH1</option>
                    <option value=1>BH2</option>
                    <option value=2>BH3</option>
                  </select>
                  <label class="mdb-main-label">BH stands for Beijing Hospitals</label>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="col">
                  <select id="department-option" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose department</option>
                    <option value=0>Internal Medicine</option>
                    <option value=1>Surgery2</option>
                  </select>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="col">
                  <select id="disease-option" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose disease</option>
                    <option value=0>Diabetes</option>
                    <option value=1>Heart Disease</option>
                  </select>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="col">
                  <select id="gender-option" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose gender</option>
                    <option value=0>Male</option>
                    <option value=1>Female</option>
                  </select>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="w-100"></div>

                <div class="col">
                  <select id="age_range-option" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose age range</option>
                    <option value=0>&lt20</option>
                    <option value=1>20-30</option>
                    <option value=2>30-40</option>
                    <option value=3>40-50</option>
                    <option value=4>50-60</option>
                    <option value=5>60-70</option>
                    <option value=6>&gt70</option>
                  </select>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="col"></div>

                <div class="col"></div>

                <div class="col">
                  <button id="data-search" class="btn btn-info btn-sm">Search</button>
                </div>

              </div>
            </div>
          </section>
          <!--/ Section: Filter -->

          <!-- Section: Result -->
          <section>
            <div class="card-body">
              <h5 class="card-title">Results</h5>
              <div class="table-ui p-2 mb-3 mx-4 mb-5">
                <table id="health-record-table" class="table" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th></th>
                      <th class="th-sm">Hospital
                      </th>
                      <th class="th-sm">Department
                      </th>
                      <th class="th-sm">Disease
                      </th>
                      <th class="th-sm">Gender
                      </th>
                      <th class="th-sm">Age Range
                      </th>
                      <th class="th-sm">Hash
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>Beijing1</td>
                      <td>Internal Medicine</td>
                      <td>diabetes</td>
                      <td>man</td>
                      <td>25-30</td>
                      <td>0x3edbcag09tfa</td>
                    </tr>
                    <!-- to be filled with javascript -->
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>
                      </th>
                      <th>Hospital
                      </th>
                      <th>Department
                      </th>
                      <th>Gender
                      </th>
                      <th>Age Range
                      </th>
                      <th>Hash
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </section>
          <!--/ Section: Result -->

        </div>
      </section>
      <!--/ Section: Data -->

      <!-- Section: Function -->
      <section class="mt-md-4 pt-md-2 ml-md-5 pl-4 mb-2 pb-1">
        <div class="card border-secondary mb-3">

          <div class="card-header">2.Please select your function</div>

          <!-- Section: Filter -->
          <section>
            <div class="card-body">
              <h5 class="card-title">Filters</h5>
              <div class="row">
                <div class="col">
                  <select id="regionOption" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose region</option>
                    <option value=0>Beijing-west-1</option>
                    <option value=1>Beijing-west-2</option>
                    <option value=2>Beijing-east</option>
                  </select>
                  <label class="mdb-main-label">Computatation infrastructure region</label>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="col">
                  <select id="coreOption" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose core number</option>
                    <option value=0>1</option>
                    <option value=1>2</option>
                    <option value=2>4</option>
                  </select>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="col">
                  <select id="memOption" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose memory size</option>
                    <option value=0>8G</option>
                    <option value=1>16G</option>
                    <option value=2>64G</option>
                  </select>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="col">
                  <select id="functionOption" class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose function instance</option>
                    <optgroup label="Statistics">
                      <option value=0>Distribution</option>
                      <option value=1>SUM</option>
                      <option value=2>Median</option>
                    </optgroup>
                    <optgroup label="ML Training">
                      <option value=3>Linear Regression</option>
                      <option value=4>SVM</option>
                    </optgroup>
                    <optgroup label="ML Inference">
                      <option value=5>Linear Model-S1</option>
                      </option>
                    </optgroup>
                  </select>
                  <button class="btn-save btn btn-primary btn-sm">Save</button>
                </div>

                <div class="w-100"></div>

                <div class="col"></div>

                <div class="col"></div>

                <div class="col"></div>

                <div class="col">
                  <button class="btn btn-info btn-sm" data-toggle="collapse" href="#fee-collapse" aria-expanded="false" aria-controls="fee-collapse">Price Detail</button>
                </div>

              </div>
            </div>
            <div class="collapse" id="fee-collapse">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Computation Price/min</th>
                    <th>Data Transmission Price/GB</th>
                    <th>Function Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Instance 1</th>
                    <td>40 [Beijing-west-1, 1core, 8GB]</td>
                    <td>80</td>
                    <td>5 [Distribution]</td>
                  </tr>
                  <tr>
                </tbody>
              </table>
            </div>
          </section>
          <!--/ Section Filter -->

          <!-- Section Input Coloumn -->
          <section>
            <div class="card-body">
              <h5 class="card-title">Input coloumn</h5>
              <select id="coloumn-option"class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
                <option value="" disabled selected>Choose Input Coloumns</option>
                <option value="0">bmi - Body Mass Index</option>
                <option value="1">bp - Average Blood Pressure)</option>
                <option value="2">s1 - T-Cells</option>
                <option value="3">s2 - Low-density lipoproteins</option>
                <option value="3">s3 - High-density lipoproteins</option>
                <option value="3">s4 - Thyroid Stimulating hormone</option>
                <option value="3">s5 - Lamotrigine </option>
                <option value="3">s6 - Blood Sugar Level</option>
              </select>
              <label class="mdb-main-label">Diabetes dataset is using</label>
              <button class="btn-save btn btn-primary btn-sm">Save</button>
            </div>
          </section>
          <!--/ Section Input Coloumn -->

        </div>
      </section>
      <!--/ Section: Function -->

      <!-- Section: Security -->
      <section class="mt-md-4 pt-md-2 ml-md-5 pl-4 mb-2 pb-1">
        <div class="card border-secondary mb-3">
          <div class="card-header">3.Please select your security configurations</div>
          <div class="card-body">
            <h5 class="card-title">Characteristics</h5>
            <!-- Security options -->
            <div class="row">
              <div class="col">
                <p>Data Scrubbing
                  <a href="#" data-toggle="tooltip" title="Guarantee delete-after-use property for raw data"><i class="far fa-question-circle"></i></a>
                </p>
              </div>
              <div class="col">
                <div class="switch">
                  <label>
                    Off
                    <input type="checkbox" unchecked>
                    <span class="lever"></span> On
                  </label>
                </div>
              </div>

              <div class="w-100"></div>


              <div class="col">
                <p>Differential Privacy
                  <a href="#" data-toggle="tooltip" title="Add noise to the generated model"><i class="far fa-question-circle"></i></a>
                </p>
              </div>
              <div class="col">
                <div class="switch">
                  <label>
                    Off
                    <input type="checkbox" unchecked>
                    <span class="lever"></span> On
                  </label>
                </div>
              </div>

              <div class="w-100"></div>

              <div class="col">
                <p>Result Sealing
                  <a href="#" data-toggle="tooltip" title="Use encryption for result transferring"><i class="far fa-question-circle"></i></a>
                </p>
              </div>
              <div class="col">
                <div class="switch">
                  <label>
                    Off
                    <input id="seal-option" type="checkbox" checked>
                    <span class="lever"></span> On
                  </label>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
    </section>
    <!--/ Section: Security -->

    <!-- Service confirm -->
    <section class="mt-md-4 pt-md-2 ml-md-5 pl-4 mb-2 pb-1">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#serviceCart" onclick="renderCart()">Launch Service</button>
      <!--/ Button trigger modal -->

      <!-- Modal: modalCart -->
      <div class="modal fade" id="serviceCart" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <h4 class="modal-title" id="cartModalLabel">Your service cart</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!--Body-->
            <div class="modal-body">

              <table id="cart-table" class="table table-hover">
                <!-- rendered by javascript -->
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Hospital</th>
                    <th>Data/Function</th>
                    <th>Price</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Beijing 1</td>
                    <td>100 rec</td>
                    <td>100 MDS</td>
                    <td><a><i class="fas fa-times"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Beijing 1</td>
                    <td>100 rec</td>
                    <td>100 MDS</td>
                    <td><a><i class="fas fa-times"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Beijing 1</td>
                    <td>100 rec</td>
                    <td>100 MDS</td>
                    <td><a><i class="fas fa-times"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Computation unit</td>
                    <td>Linear regression</td>
                    <td>100 10MDS/min</td>
                    <td><a><i class="fas fa-times"></i></a></td>
                  </tr>
                  <tr class="total">
                    <th scope="row">5</th>
                    <td>Total</td>
                    <td>

                    <td>400$</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary">Checkout</button>
            </div>
          </div>
        </div>
      </div>
      <!--/ Modal: modalCart -->
    </section>
    <!--/ Service confirm -->

    </div>

  </main>


  <script type="text/javascript">
    // Option List
    hospitalOption = ["BH1", "BH2", "BH3", "BH4"];
    regionOption = ["Beijing-west-1", "Beijing-west-2", "Beijing-east"];
    coreOption = ["1", "2", "4"];
    memOption = ["8G", "16G", "64G"];
    functionOption = ["Distribution", "SUM", "Median", "Linear Regression", "SVM", "Linear Model-S1"];
    functionFee = [5, 5, 5, 10, 20, 10];

    // Service detail


    $(document).ready(function() {
      $('#health-record-table').dataTable({

        columnDefs: [{
          orderable: false,
          className: 'select-checkbox select-checkbox-all',
          targets: 0
        }],
        select: {
          style: 'multi',
          selector: 'td:first-child'
        }
      });
    });

    $(document).ready(function() {
      $('.mdb-select').materialSelect();
    });

    $(document).ready(function() {
      $('#data-search').click(function() {

        //collectDataFilter();

        // loading data
        loadData();
      });
    });

    // Tooltips Initialization
    $(function() {
      $('[data-toggle="tooltip"]').tooltip()
    })

    // Sidenav Initialization
    $(".button-collapse").sideNav();

    // Render service cart
    function renderCart(){
      console.log("calling renderCart");
      hosNum = $('#hospital-option').val().length;
      console.log(hosNum);
      cartDetailStr = "";
      $('#cart-table').html(cartDetailStr);
    }
  </script>



  <script type="text/javascript">
    const dataBody = document.querySelector("#health-record-table > tbody");

    function loadData() {
      const request = new XMLHttpRequest();
      request.open("get", "api/data");
      request.onload = () => {
        try {
          const json = JSON.parse(request.responseText);
          populateData(json);
        } catch (e) {
          console.warn("Cloud not load medical data!");
        }
      };

      request.send();
    }

    function populateData(json) {
      // Clear existing records
      while (dataBody.firstChild) {
        dataBody.removeChild(dataBody.firstChild);
      }

      // Populate table
      json.forEach((row) => {
        const tr = document.createElement("tr");

        emptytd = document.createElement("td");
        tr.appendChild(emptytd);

        row.forEach((cell) => {
          const td = document.createElement("td");
          td.textContent = cell;
          tr.appendChild(td);
        });

        dataBody.appendChild(tr);
      });
    }
  </script>

</body>


</html>
